<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.AnOthersDayMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.AnOthersDay">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="UNID" jdbcType="VARCHAR" property="unid" />
    <result column="DATIME_TIME" jdbcType="DATE" property="datimeTime" />
    <result column="ALARM_COUNT" jdbcType="INTEGER" property="alarmCount" />
    <result column="SYSTEM_DATIME" jdbcType="TIMESTAMP" property="systemDatime" />
    <result column="FAULT_COUNT" jdbcType="INTEGER" property="faultCount" />
    <result column="FACILITY_UNID" jdbcType="VARCHAR" property="facilityUnid" />
  </resultMap>
</mapper>