<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.FmFacilityViewMapper">
    <resultMap id="BaseResultMap" type="com.company.project.model.FmFacilityView">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="AIID" jdbcType="INTEGER" property="aiid"/>
        <result column="UNID" jdbcType="CHAR" property="unid"/>
        <result column="DATIME_SYS" jdbcType="TIMESTAMP" property="datimeSys"/>
        <result column="DATIME_MOD" jdbcType="TIMESTAMP" property="datimeMod"/>
        <result column="DOMAIN_UNID" jdbcType="CHAR" property="domainUnid"/>
        <result column="LEFT_INX" jdbcType="INTEGER" property="leftInx"/>
        <result column="RIGHT_INX" jdbcType="INTEGER" property="rightInx"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="ID_SYSTEM" jdbcType="SMALLINT" property="idSystem"/>
        <result column="ID_TYPE" jdbcType="SMALLINT" property="idType"/>
        <result column="UNID_CELL" jdbcType="CHAR" property="unidCell"/>
        <result column="UNID_GROUP" jdbcType="CHAR" property="unidGroup"/>
        <result column="UNID_MOUNT" jdbcType="CHAR" property="unidMount"/>
        <result column="UNID_BUSINESS_UNIT" jdbcType="CHAR" property="unidBusinessUnit"/>
        <result column="ID_HOST" jdbcType="VARCHAR" property="idHost"/>
        <result column="ID_CHANNEL" jdbcType="VARCHAR" property="idChannel"/>
        <result column="ID_ZONE" jdbcType="VARCHAR" property="idZone"/>
        <result column="ID_SLOT" jdbcType="VARCHAR" property="idSlot"/>
        <result column="LOCATION" jdbcType="VARCHAR" property="location"/>
        <result column="DATIME_LAST_CHECK" jdbcType="TIMESTAMP" property="datimeLastCheck"/>
        <result column="DATIME_LAST_MTN" jdbcType="TIMESTAMP" property="datimeLastMtn"/>
        <result column="COUNT_EVENT" jdbcType="INTEGER" property="countEvent"/>
        <result column="BITS" jdbcType="BIT" property="bits"/>
        <result column="STATUS" jdbcType="BIT" property="status"/>
        <result column="FLAG_AVA" jdbcType="BIT" property="flagAva"/>
        <result column="FLAG_DEL" jdbcType="BIT" property="flagDel"/>
        <result column="DOMAIN_NAME" jdbcType="VARCHAR" property="domainName"/>
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName"/>
        <result column="SYSTEM_NAME" jdbcType="VARCHAR" property="systemName"/>
        <result column="ALIAS" jdbcType="VARCHAR" property="alias"/>
        <result column="UNID_MAP" jdbcType="VARCHAR" property="unidMap"/>
        <result column="X" jdbcType="VARCHAR" property="x"/>
        <result column="Y" jdbcType="VARCHAR" property="x"/>


    </resultMap>
    <resultMap id="GetResultMap" type="com.company.project.model.FmFacilityViews">
        <result column="AIID" jdbcType="INTEGER" property="aiid"/>
        <result column="ID_SYSTEM" jdbcType="SMALLINT" property="idSystem"/>
        <result column="ID_TYPE" jdbcType="SMALLINT" property="idType"/>
        <result column="UNID_MOUNT" jdbcType="CHAR" property="unidMount"/>
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName"/>
        <result column="SYSTEM_NAME" jdbcType="VARCHAR" property="systemName"/>
    </resultMap>
    <select id="getCount" resultMap="GetResultMap" resultType="com.company.project.model.FmFacilityViews">
        SELECT
        COUNT(a.AIID) AS UNID_MOUNT,
        d.`LEFT_INX`,
        d.`RIGHT_INX`,
        b.NAME AS TYPE_NAME,
        a.ID_SYSTEM,
        a.ID_TYPE,
        c.NAME AS SYSTEM_NAME,
        d.`UNID`
        FROM
        terata.FM_FACILITY a
        INNER JOIN MD_TYPE b
        ON a.ID_TYPE = b.AIID
        INNER JOIN MD_TYPE c
        ON a.ID_SYSTEM = c.AIID
        INNER JOIN `OAU_DOMAIN` d
        ON (
        a.`DOMAIN_UNID` = d.`UNID`  AND  d.`LEFT_INX` >=
        (SELECT
        e.LEFT_INX
        FROM
        terata.OAU_DOMAIN e
        WHERE e.UNID = #{domainUnid})
        AND d.`RIGHT_INX` &lt;=  (SELECT
        e.RIGHT_INX
        FROM
        terata.OAU_DOMAIN e
        WHERE e.UNID = #{domainUnid})
        ) WHERE a.FLAG_DEL=0 AND a.STATUS=1
        GROUP BY ID_TYPE,ID_SYSTEM
        ORDER BY ID_SYSTEM ASC
    </select>

</mapper>