<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.FmHostViewMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.FmHostView">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="UNID" jdbcType="VARCHAR" property="unid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="DOMAIN_UNID" jdbcType="VARCHAR" property="domainUnid" />
    <result column="STATUS" jdbcType="BIT" property="status" />
    <result column="LAST_DATETIME" jdbcType="TIMESTAMP" property="lastDatetime" />
    <result column="SYSTEM_DATIME" jdbcType="TIMESTAMP" property="systemDatime" />
    <result column="LOCATION" jdbcType="VARCHAR" property="location" />
    <result column="FLAG_DEL" jdbcType="BIT" property="flagDel" />
    <result column="DOMAIN_NAME" jdbcType="VARCHAR" property="domainName" />
    <result column="LEFT_INX" jdbcType="BIGINT" property="leftInx" />
    <result column="RIGHT_INX" jdbcType="BIGINT" property="rightInx" />
  </resultMap>
</mapper>