<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.FmRiskFileViewMapper">
    <resultMap id="BaseResultMap" type="com.company.project.model.FmRiskFileView">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="AIID" jdbcType="INTEGER" property="aiid"/>
        <result column="UNID" jdbcType="CHAR" property="unid"/>
        <result column="DATIME_SYS" jdbcType="TIMESTAMP" property="datimeSys"/>
        <result column="DATIME_MOD" jdbcType="TIMESTAMP" property="datimeMod"/>
        <result column="DOMAIN_UNID" jdbcType="CHAR" property="domainUnid"/>
        <result column="LEFT_INX" jdbcType="INTEGER" property="leftInx"/>
        <result column="RIGHT_INX" jdbcType="INTEGER" property="rightInx"/>
        <result column="LEVEL" jdbcType="TINYINT" property="level"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="ID_TYPE" jdbcType="INTEGER" property="idType"/>
        <result column="ID_STATUS" jdbcType="SMALLINT" property="idStatus"/>
        <result column="OPEN_ID_REPORTER" jdbcType="CHAR" property="openIdReporter"/>
        <result column="OPEN_ID_ASSIGNEE" jdbcType="CHAR" property="openIdAssignee"/>
        <result column="UNID_CELL" jdbcType="CHAR" property="unidCell"/>
        <result column="LOCATION" jdbcType="VARCHAR" property="location"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="FLAG_DONE" jdbcType="BIT" property="flagDone"/>
        <result column="FLAG_DEL" jdbcType="BIT" property="flagDel"/>
        <result column="URI" jdbcType="VARCHAR" property="uri"/>
        <result column="TAG" jdbcType="VARCHAR" property="tag"/>
        <result column="PATH" jdbcType="VARCHAR" property="path"/>
        <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName"/>
    </resultMap>
</mapper>