<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.MaMarkTypeMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.MaMarkType">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="unid" jdbcType="VARCHAR" property="unid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="max_mark" jdbcType="DOUBLE" property="maxMark" />
    <result column="domain_unid" jdbcType="VARCHAR" property="domainUnid" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
</mapper>