<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.PaTaskItemPointItemMapMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.PaTaskItemPointItemMap">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="unid" jdbcType="VARCHAR" property="unid" />
    <result column="task_item_unid" jdbcType="VARCHAR" property="taskItemUnid" />
    <result column="point_item_unid" jdbcType="VARCHAR" property="pointItemUnid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="system_dtime" jdbcType="TIMESTAMP" property="systemDtime" />
  </resultMap>
</mapper>