<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.PmProtocolOrderMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.PmProtocolOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="unid" jdbcType="VARCHAR" property="unid" />
    <result column="orders" jdbcType="VARCHAR" property="orders" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="protocol_unid" jdbcType="VARCHAR" property="protocolUnid" />
    <result column="answer_order" jdbcType="VARCHAR" property="answerOrder" />
    <result column="flag_del" jdbcType="BIT" property="flagDel" />
  </resultMap>
</mapper>